<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V15HNP28N5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-V15HNP28N5');
    </script>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&family=Roboto:wght@400;700&family=Lato:wght@400;700&display=swap" as="style" type="text/css" crossorigin>
    <link rel="preload" href="https://github.com/ilopezgazpio/GATAI/blob/main/assets/fonts/EHUSans/EHUSans-Regular.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="https://github.com/ilopezgazpio/GATAI/blob/main/assets/fonts/EHUSans/EHUSans-Bold.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="https://github.com/ilopezgazpio/GATAI/blob/main/assets/fonts/EHUSans/EHUSans-Black.otf" as="font" type="font/otf" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <a href="{{ site.baseurl }}/">
	<img class="header-logo-image" src="{{ site.baseurl }}/assets/img/gatai_hd.png" alt="GATAI proiektuaren logoa">
      </a>
      <div class="navigation-buttons">
	<a href="{{ site.baseurl }}/" class="btn-header">Aurkezpena</a>
	<a href="{{ site.baseurl }}/norgara" class="btn-header">Nor gara</a>
	<div class="dropdown">
	<a href="{{ site.baseurl }}/ikastetxeak" class="btn-header">Ikastetxeak</a>
	<div class="dropdown-menu">
          <a href="{{ site.baseurl }}/ikastetxeak#Samaniego-LH3" class="dropdown-item">Samaniego</a>
          <a href="{{ site.baseurl }}/ikastetxeak#Itsasondo-LH12" class="dropdown-item">Urkipe</a>
          <a href="{{ site.baseurl }}/ikastetxeak#Urdaneta-LH56" class="dropdown-item">Urdaneta</a>
          <a href="{{ site.baseurl }}/ikastetxeak#Jakintza-LH4" class="dropdown-item">Jakintza</a>
        </div>
	</div>
	<a href="{{ site.baseurl }}/argitalpenak" class="btn-header">Argitalpenak</a>
	<a href="{{ site.baseurl }}/berriak" class="btn-header">Berriak</a>
	<a href="{{ site.baseurl }}/harremanetarako" class="btn-header">Harremanetarako</a>
      </div>
      
      <div class="language-switch">
	<a href="{{ site.baseurl }}/presentacion" class="language-link">ES</a>
      </div>
      
    </header>

    <div class="horizontal-banner">
      <img src="http://www.gatai.eus/assets/img/banner_img1.jpg" alt="banner_img1">
      <img src="http://www.gatai.eus/assets/img/banner_img2.jpg" alt="banner_img2">
      <img src="http://www.gatai.eus/assets/img/banner_img3.jpg" alt="banner_img3">
      <img src="http://www.gatai.eus/assets/img/banner_img4.jpg" alt="banner_img4">
    </div>

    <main id="content" class="main-content" role="main">


       {{ content }}


       <footer class="site-footer">

	 <div class="lower-horizontal-banner">
	   <img src="http://www.gatai.eus/assets/img/hefaii.jpg" alt="hefaii">
	   <img src="http://www.gatai.eus/assets/img/infor.jpg" alt="informatika">
	   <img src="http://www.gatai.eus/assets/img/ikdi3.jpg" alt="ikdi3">
	 </div>

        <span class="site-footer-owner">
	  <a href="{{ site.github.repository_url }}">
	    {{ site.github.repository_name }}
	  </a>
	  is maintained by
	  <a href="{{ site.github.owner_url }}">
	    {{ site.github.owner_name }}
	  </a>.
	  Euskal Herriko Unibertsitatea UPV/EHU.
	</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> (Jekyll Cayman template).</span>
      </footer>
    </main>
  </body>
</html>
